@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Les petites Annonces.com</h1>
</div>
<section class="container-fluid p-0 ">
    <article class="card-deck p-0  m-0 d-flex flex-column flex-lg-row justify-content-between">
        <div class="card m-3">
            <div class="card-header pb-0" style="color: #201063; ">
                <h5 class="card-title" style="font-weight: bold;"><i class="fas fa-history"></i> Annonce</h5>
            </div>
            <div class="card-body ">
                <p class="card-text">
                    Objet à vendre : <br />
                    Description :  <br />
                    Vendeur :  <br />
                    Combien  :  € <br />
                    Date Création : <br />
                </p>
            </div>
        </div>
        </article>
    </section>

